nav {background-color: #8f2cac;
            
    color: white;}

h1 {color: #8f2cac;}

h3 {color: #8f2cac;}

ul {float: right ;}

ul li {display: inline-block;
        text-transform: uppercase;
        padding: 3px 20px 30px;}
nav#menu a{
    text-decoration: none;
    color:white;}
   body div.INSTAPETS{
       right: 10px;
       
    }